/*-------------------------MAIN-----------------------*/

            /*----*INDEX------*/

main{
    background: hsl(313, 35%, 69%);
    background: -webkit-linear-gradient(to right, hsla(213, 49%, 65%, 0.651), hsla(48, 36%, 78%, 0.651), hsla(313, 35%, 69%, 0.651));
    background: linear-gradient(to right, hsla(213, 49%, 65%, 0.651), hsla(48, 36%, 78%, 0.651), hsla(313, 35%, 69%, 0.658)), url(../img/section-1-img.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

    /*----------------------- BANNER--------------------------------*/

    .c-item{
        height: 450px;
    }

    .c-img{
        height: 100%;
    }
    .text-carousel{
        text-shadow: 0.1em 0.1em 0.2em black;                
        font-size: 35px;
        background-color: #a581b1c0;
        border-radius: 10px

    }

    /*----------------------- SECTION 1--------------------------------*/

.section-1{
    .contenedor-section-1{
        @extend %sections;
        padding: 40px 0;
    
        .titulo1{
            @include titulos (center, 30px, 700);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
            letter-spacing: 2px;
            color: nth($colores, 1);
            margin: 60px 0px 40px;        
        }

        .bloque-1{
            display: flex;

            div{
                p{
                    text-align: justify-all;
                    font-size: nth($font-size, 4);
                    font-weight: 600;
                    padding: 6px;                
                }
            }

            div{
                img{
                    width: 250px;
                    height: 250px;                    
                }
            }
        }

        .bloque-2{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
        
            .psicooncologia, .tcc{
                @extend %psicooncologia-tcc;
            
                a{
                    text-align: center;
                    text-decoration: none;
                    font-size: nth($font-size, 2);
                    font-weight: bold;
                    color: white;
                    padding-bottom: 20px;
                    &:hover{
                        text-decoration: underline;
                        color: #E2E2E2;
                    }                    
                }
                img{
                    @include img (300px, 300px, cover);
                    margin: auto;
                    margin-bottom: 20px;
                    border: 3px solid nth($colores, 1);
                    border-radius: 8px;                
                }

                p{
                    text-align: center;
                    color: white;
                    font-size: nth($font-size, 5);
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-bottom: 15px;                
                }
            }
        }

        .comienza-ahora{
            font-size: nth($font-size, 4);
            text-align: center;
            margin-top: 70px;
            transition: all 0.4s ease;
            &:hover{
                transform: scale(1.1);
            }
        
            a{
                text-decoration: none;
                background-color: nth($colores, 2);
                padding: 15px 20px;
                border-radius: 8px;
                color: white;
                box-shadow: 5px 5px 10px black;
                transition: all 0.4s ease;      
                &:hover{
                    background-color: #a581b1;
                }
            }
        }
    }
}

    /*----------------------- SECTION 2--------------------------------*/

.section-2{
    .contenedor-section-2{
        @extend %sections;
        padding: 40px 0;
    
        .titulo2{
            @include titulos (center, 30px, 600);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
            letter-spacing: 2px;
            color: nth($colores, 1);
            margin-bottom: 40px;        
        }

        .ilustracion-textos{
            text-align: center;

            h3{
                font-weight: 700;
                font-size: nth($font-size, 3);
                margin-bottom: 15px;
            
                span{
                    background-color: nth($colores, 4);
                    color: white;
                    border-radius: 50%;
                    display: inline-block;
                    text-align: center;
                    width: 30px;
                    height: 30px;
                    padding: 2px;
                    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
                    margin-right: 5px;                
                }
            }

            p{
                font-size: nth($font-size, 4);
                padding: 0px 0px 30px 15px;
                text-align: justify-all;            
            }
        }
    }
}

    /*----------------------- GALERIA--------------------------------*/

.galeria{
    padding: 20px 0;
    @extend %sections;

    h2{
        @include titulos (center, 30px, 600);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
        letter-spacing: 2px;
        color: nth($colores, 1);
        margin-bottom: 30px;    
    }

    .grid-galeria{
        @include grid (grid, repeat(3,1fr), 15px);
        grid-template-rows: repeat(2,1fr);
    
        .grid-item{
            .flex-item{
                @include flex (flex, column, center);
                width: 300px;
                height: 320px;
                border-radius: 15px;
                background-color: nth($colores, 4);
            
                h3{
                    color: white;
                    text-align: center;
                    text-decoration: underline;
                    padding: 10px;                
                }

                img{
                    @include img (250px, 150px, cover);
                    border-radius: 10px;                
                }

                p{
                    font-size: nth($font-size, 5);
                    text-align: center;
                    color: white;
                    padding: 10px;                
                }
            }
        }
    }
}

    /*------------------------------------SECTION 3---------------------------*/

.section-3{
    .bg-section-3{
        margin-top: 50px;
        width: 100%;
        height: 400px;
        @include flex (flex, column, center);
        background-color: hsla(285, 24%, 60%, 0.39);
        backdrop-filter: blur(5px);
    
        h2{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: whitesmoke;
            font-weight: 100px;
            text-shadow: 0.1em 0.1em 0.2em black;
            padding: 20px;        
        }

        .contenedor-flex{
            padding: 20px 0;
            width: 90%;
            max-width: 1000px;
            margin: auto;
            overflow: hidden;
            display: flex;
            justify-content: space-evenly;
        
            .flex-div{
                @include flex (flex, column, center);
                justify-content: center;
                width: 250px;
                height: 265px;
                background-color: hsla(0, 2%, 84%, 0.493);
                box-shadow: 5px 5px 5px rgb(116, 115, 115);
                border-radius: 15px;
            
                img{
                    @include img (60px, 60px, cover);
                }

                h3{
                    @include titulos (center, 23px, 700);
                    padding: 15px;
                    color: nth($colores, 1);
                }

                p{
                    text-align: center;
                    font-size: nth($font-size, 4);
                }
            }
        }
    }
}

    /*----------------------- SECTION 4--------------------------------*/

.section-4{
    .contenedor-section-4{
        @extend %sections;
        padding: 40px 0;
        display: flex;
        align-items: center;
    
        .contenedor4-1{
            width: 40%;

            h3{
                font-size: 40px;
                text-align: justify-all;
                font-weight: 600;
                color: nth($colores, 3);
                padding-bottom: 15px;
                text-shadow: 2px 2px 5px #614479;            
            }

            p{
                font-size: nth($font-size, 3);
                text-align: justify-all;
                padding-bottom: 40px;            
            }

            a{
                text-decoration: none;
                background-color: nth($colores, 2);
                padding: 15px 20px;
                border-radius: 8px;
                color: white;
                box-shadow: 2px 2px 5px black;
                transition: all 0.4s ease;
                &:hover{
                    background-color: nth($colores, 5);
                }            
            }
        }

        .contenedor4-2{
            width: 40%;
            background-color: nth($colores, 4);
            padding: 15px 0px 15px;
            border-radius: 8px;
            @include flex (flex, column, center);
        
            .contenedor4-2-1{
                margin-bottom: 30px;
            }

            .contenedor4-2-1, .contenedor4-2-2{
                img{
                    width: 250px;
                }

                h3{
                    font-size: 28px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    color: white;
                    font-weight: bold;                
                }

                h4{
                    font-size: 24px;
                    color: white;                
                }

                p{
                    font-weight: bold;
                    font-size: nth($font-size, 4);
                }
            }
        }
    }
}

    /*----------------------- BOTON LOGOUT--------------------------------*/

.logout_{
    position: fixed;
    left: 0;
    bottom: 0;

    img{
        width: 70px;
        filter: opacity(0.5);
        &:hover{
            filter: opacity(1);
            cursor: pointer;
        }    
    }
}

            /*----CONOCEME------*/

    /*---------------------CONTENIDO CONOCEME--------------------*/

.conoceme{
    background: hsl(313, 35%, 69%);
    background: -webkit-linear-gradient(to right, hsla(213, 49%, 65%, 0.651), hsla(48, 36%, 78%, 0.651), hsla(313, 35%, 69%, 0.651));
    background: linear-gradient(to right, hsla(213, 49%, 65%, 0.651), hsla(48, 36%, 78%, 0.651), hsla(313, 35%, 69%, 0.658)), url(../img/conoceme.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    .contenedor-conoceme{
        @extend %sections;
        padding: 80px 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;    
        .contenido-conoceme{
            width: 60%;
            background-color: rgba(255, 255, 255, 0.1);
            padding: 20px;
            backdrop-filter: blur(10px);
            border-radius: 50px;
            box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);        

            p{
                font-family: 'Playfair Display', serif;
                font-size: nth($font-size, 4);
                width: 80%;
                text-align: center;
                margin: 0 auto;
                padding: 5px;
            }
        }

        img{
            @include img (300px, 300px, cover);
            border: 6px solid nth($colores, 4);
            border-radius: 50%;
            filter: grayscale(50%);
            transition: all 1s ease;
            &:hover{
                transform: scale(1.1);
                filter: grayscale(0%);            
            }        
        }
    }
}

            /*----PSICOONCOLOGIA------*/

.psicooncologia-main{
    background: hsl(313, 35%, 69%);
    background: -webkit-linear-gradient(to right, hsla(213, 49%, 65%, 0.651), hsla(48, 36%, 78%, 0.651), hsla(313, 35%, 69%, 0.651));
    background: linear-gradient(to right, hsla(213, 49%, 65%, 0.651), hsla(48, 36%, 78%, 0.651), hsla(313, 35%, 69%, 0.658)), url(../img/psicooncologia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

    /*---------------------------CONTENIDO PSICOONCOLOGIA-----------------*/

.servicio-psicooncologia{
    @extend %sections;
    padding: 40px 0;

            /*---------------------------PARTE 1------------------------------*/
    .parte1-onco{
        padding: 20px 0px;
        @include flex (flex, row, center);

        div{
            p{
                font-size: nth($font-size, 4);
                font-weight: 500;
                line-height: 1.5;
                padding: 5px;            
            }
        }

        img{
            width: 50%;
            height: 50%;
            border: 5px solid nth($colores, 2);
            border-radius: 20px;
            box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
            margin-right: 20px;        
        }
    }

            /*---------------------------PARTE 2------------------------------*/
    .parte2-onco{
        h2{
            @include titulos (center, 30px, 700);
            color: nth($colores, 1);
            padding-bottom: 15px;
            letter-spacing: 2px;        
        }

        p{
            @include titulos (justify-all, 20px, 500);
            line-height: 1.5;
            padding-bottom: 15px;        
        }
    }

            /*---------------------------PARTE 3------------------------------*/
    .parte3-onco{

        h2{
            @include titulos (center, 30px, 700);
            color: nth($colores, 1);
            padding-bottom: 15px;
            letter-spacing: 2px;        
        }

        p{
            @include titulos (justify-all, 20px, 500);
            line-height: 1.5;
            padding-bottom: 15px;        
        }
    }

            /*---------------------------PARTE 4------------------------------*/
    .parte4-onco{
        h2{
            @include titulos (center, 30px, 700);
            color: nth($colores, 1);
            padding-bottom: 15px;
            letter-spacing: 2px;        
        }

        ul{

            li{
                list-style: none;

                h3{
                    font-size: nth($font-size, 2);
                    color: nth($colores, 1);
                    padding: 15px;                
                }

                .subparte4{
                    display: flex;
                    align-items: center;
                    width: 80%;
                
                    p{
                        @include titulos (justify-all, 20px, 500);
                        line-height: 1.5;
                        padding-bottom: 15px;                    
                    }

                    img{
                        width: 200px;
                        height: 200px;
                        animation: img-psicoonco 4s linear infinite;
                        @keyframes img-psicoonco {
                            0%{
                                transform: translateX(10px);
                            }
                            50%{
                                transform: translateX(0px);
                            }
                            100%{
                                transform: translateX(10px);
                            }
                        }                    
                    }
                }
            }
        }
    }
}

                                /*!TCC INDIVIDUAL*/

.tcc-main{
    background: hsl(313, 35%, 69%);
    background: -webkit-linear-gradient(to right, hsla(213, 49%, 65%, 0.651), hsla(48, 36%, 78%, 0.651), hsla(313, 35%, 69%, 0.651));
    background: linear-gradient(to right, hsla(213, 49%, 65%, 0.651), hsla(48, 36%, 78%, 0.651), hsla(313, 35%, 69%, 0.658)), url(../img/psicoterapiaTCC.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

    /*--------------------------------CONTENIDO TCC--------------------------*/

.servicio-tcc{
    @extend %sections;
    padding: 40px 0;

            /*---------------------------PARTE 1------------------------------*/
    .parte1-tcc{
        padding: 20px 0px;
        @include flex (flex, row, center);
    
        div{
            p{
                font-size: nth($font-size, 4);
                font-weight: 500;
                line-height: 1.5;
                padding: 10px;            
            }
        }

        img{
            width: 40%;
            height: 50%;
            border: 5px solid nth($colores, 2);
            border-radius: 20px;
            box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
            margin-right: 20px;        
        }
    }

            /*---------------------------PARTE 2------------------------------*/

    .parte2-tcc{
        h2{
            @include titulos (center, 30px, 700);
            color: nth($colores, 1);
            padding-bottom: 15px;
            letter-spacing: 2px;        
        }

        .txt-img-tcc2{
            display: flex;
            align-items: center;

            .txt-tcc2{
                p{
                    @include titulos (justify-all, 20px, 500);
                    line-height: 1.5;
                    padding-bottom: 15px;                
                }
            }

            .img-tcc2{
                img{
                    width: 350px;
                    height: 250px;
                    animation: img-tcc1 4s linear infinite;
                    @keyframes img-tcc1 {
                        0%{
                            transform: translateY(10px);
                        }
                        50%{
                            transform: translateY(0px);
                        }
                        100%{
                            transform: translateY(10px);
                        }
                    }
                }
            }
        }
    }

            /*---------------------------PARTE 3------------------------------*/
    .parte3-tcc{
        h2{
            @include titulos (center, 30px, 700);
            color: nth($colores, 1);
            padding: 15px;
            letter-spacing: 2px;        
        }

        .txt-img-tcc3{
            display: flex;
            align-items: center;
        
            .txt-tcc3{
                p{
                    @include titulos (justify-all, 20px, 500);
                    line-height: 1.5;
                    padding-bottom: 15px;                
                }
            }

            .img-tcc3{
                img{
                    width: 350px;
                    height: 250px;
                    animation: img-tcc2 4s linear infinite;
                    @keyframes img-tcc2 {
                        0%{
                            transform: translateY(10px);
                        }
                        50%{
                            transform: translateY(0px);
                        }
                        100%{
                            transform: translateY(10px);
                        }
                    }                                    
                }
            }
        }
    }

            /*---------------------------PARTE 4------------------------------*/
    .parte4-tcc{
        h2{
            @include titulos (center, 30px, 700);
            color: nth($colores, 1);
            padding: 15px;
            letter-spacing: 2px;        
        }

        .txt-img-tcc4{
            display: flex;
            align-items: center;

            .txt-tcc4{
                p{
                    @include titulos (justify-all, 20px, 500);
                    font-weight: 500;
                    line-height: 1.5;
                    padding-bottom: 15px;                
                }
            }

            .img-tcc4{
                img{
                    width: 350px;
                    height: 250px;
                    animation: img-tcc3 4s linear infinite;
                    @keyframes img-tcc3 {
                        0%{
                            transform: translateY(10px);
                        }
                        50%{
                            transform: translateY(0px);
                        }
                        100%{
                            transform: translateY(10px);
                        }
                    }                    
                }
            }
        }

        ul{
            li{
                text-align: justify all;
                font-size: nth($font-size, 4);
                font-weight: 500;
                line-height: 1.5;
                padding-bottom: 15px;            
            }
        }
    }

            /*---------------------------PARTE 5------------------------------*/
    .parte5-tcc{
        .p5-1{
            margin-top: 15px;
            padding: 20px;
            border: 4px solid white;
            padding: 10px 10px;
            border-radius: 15px;
            backdrop-filter: blur(30px);
        
            h3{
                @include titulos (center, 25px, 700);
                color: nth($colores, 1);
                padding: 15px;
                letter-spacing: 2px;            
            }

            p{
                @include titulos (justify-all, 20px, 500);
                line-height: 1.5;
                padding-bottom: 15px;
                font-style: oblique;
                color: nth($colores, 1);
                font-weight: 500;            
            }
        }

        .p5-2{
            margin-top: 15px;

            p{
                @include titulos (justify-all, 20px, 500);
                line-height: 1.5;
                padding-bottom: 15px;            
            }

            ul{
                padding-left: 5px;

                li{
                    span{
                        background-color: nth($colores, 4);
                        color: white;
                        border-radius: 50%;
                        display: inline-block;
                        text-align: center;
                        width: 30px;
                        height: 30px;
                        padding: 2px;
                        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
                        margin-right: 5px;                    
                    }
                }
            }
        }

        .p5-3{
            margin-top: 15px;

            p{
                @include titulos (justify-all, 20px, 500);
                line-height: 1.5;
                padding-bottom: 15px;            
            }

            ul{
                padding-left: 5px;

                li{
                    span{
                        background-color: nth($colores, 4);
                        color: white;
                        border-radius: 50%;
                        display: inline-block;
                        text-align: center;
                        width: 30px;
                        height: 30px;
                        padding: 2px;
                        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
                        margin-right: 5px;                    
                    }
                }
            }
        }
    }
}

                                /*!SOLICITAR TURNO*/

.turnos{
    background: hsl(313, 35%, 69%);
    background: -webkit-linear-gradient(to right, hsla(213, 49%, 65%, 0.651), hsla(48, 36%, 78%, 0.651), hsla(313, 35%, 69%, 0.651));
    background: linear-gradient(to right, hsla(213, 49%, 65%, 0.651), hsla(48, 36%, 78%, 0.651), hsla(313, 35%, 69%, 0.658)), url(../img/section-1-img.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    #saludar{
        padding-top: 40px;

        h2{
            text-align: center;
            font-size: 35px;
            font-weight: 600;
            color: hsla(288, 29%, 37%, 0.938);
            font-style: italic;
            text-shadow: 0.1em 0.1em 0.2em rgba(235, 232, 232, 0.664);
        }
    }

    #form_js{

        .contenedor-turnos{
            @extend %sections;
            padding: 40px 0;

            .solicitar-turno{
                margin: auto;
                width: 400px;
                background-color: hsla(288, 29%, 37%, 0.418);
                padding: 50px;
                border: 3px solid rgba(255, 255, 255, 0.5);
                border-radius: 10px;
                color: white;
            
                h2{
                    @include titulos (center, 35px, 700);
                    font-family: 'Source Sans Pro', serif;
                    margin-bottom: 20px;
                    text-shadow: 0.1em 0.1em 0.2em black;
                }

                .formularios{
                    width: 100%;
                    background-color: nth($colores, 7);
                    color: white;
                    padding: 10px;
                    border-radius: 5px;
                    margin-bottom: 15px;
                    border: 1px solid white;
                    font-size: nth($font-size, 5);
                    &:hover{
                        box-shadow: 5px 5px 4px nth($colores, 8);
                        cursor: pointer;
                    }
                    &::placeholder{
                        color: rgb(209, 205, 205);
                    }
                }

                h3{
                    font-size: nth($font-size, 2);
                    text-align: center;
                    margin: 30px 0px 10px;
                    text-shadow: 0.1em 0.1em 0.2em black;            
                }

                h4{
                    font-size: nth($font-size, 5);
                    text-shadow: 0.1em 0.1em 0.2em black;            
                    font-style: italic;
                }

                .date{
                    width: 100%;
                    background-color: nth($colores, 7);
                    color: white;
                    font-size: nth($font-size, 5);
                    padding: 10px;
                    border-radius: 5px;
                    border: 1px solid white;
                    cursor: pointer;
                    &:hover{
                        box-shadow: 5px 5px 4px nth($colores, 8);
                    }
                }

                select{
                    width: 100%;
                    background-color: nth($colores, 7);
                    color: white;
                    font-size: nth($font-size, 5);
                    padding: 10px;
                    border-radius: 5px;
                    border: 1px solid white;
                    &:hover{
                        box-shadow: 5px 5px 4px nth($colores, 8);
                    }
                }

                .terminos-condiciones{
                    font-size: nth($font-size, 3);
                    margin: 45px 0px 10px;
                    text-shadow: 0.1em 0.1em 0.2em black            
                }

                label{
                    font-size: nth($font-size, 5);
                }

                .agrega-comentarios{
                    font-size: nth($font-size, 3);
                    margin: 20px 0px 10px;
                    text-shadow: 0.1em 0.1em 0.2em black;            
                }

                textarea{
                    width: 100%;
                    background-color: nth($colores, 7);
                    color: white;
                    padding: 10px;
                    border-radius: 5px;
                    margin-bottom: 15px;
                    border: 1px solid white;
                    font-size: nth($font-size, 7);
                    &:hover{
                        box-shadow: 5px 5px 4px nth($colores, 8);
                    }
                    &::placeholder{
                        color: rgb(209, 205, 205);
                    }            
                }

                .boton{
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    width: 100%;
                    background-color: nth($colores, 7);
                    color: white;
                    padding: 10px;
                    border-radius: 5px;
                    margin-bottom: 15px;
                    border: 1px solid white;
                    font-size: nth($font-size, 5);
                    transition: all 0.4s ease;
                    cursor: pointer;
                    &:hover{
                        background-color: nth($colores, 9);
                        transform: scale(1.1);                
                    }            
                }

                .boton-coll{
                    width: 100%;
                    margin-top: 25px;            
                    p{
                        .boton-p{
                            display: block;
                            width: 100%;
                            background-color: nth($colores, 7);
                            padding: 10px 10px;
                            border: 1px solid white;
                            border-radius: 5px;
                            color: #fff;
                            @include titulos (center, 18px, 500);
                            text-decoration: none;
                            &:hover{
                                background-color: hsla(288, 32%, 59%, 0.863);
                            }                    
                        }
                    }

                    .collapse{
                        .card{
                            background-color: nth($colores, 8);

                            p{
                                span{
                                    font-weight: 700;
                                    font-size: nth($font-size, 4);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

main .modal__section{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
main .modal__section .m-o{
    width: 50%;
    height: 60%;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: hsla(290, 58%, 84%, 0.918);
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
    overflow: hidden;
}
main .modal__section .m-o-c{
    transform: translateY(-200%);
}
main .modal__section .m-o > h2{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
main .modal__section .m-o span h3{
    padding-left: 15px;
    font-size: 25px;
}
main .modal__section .m-o h3{
    padding-left: 15px;
    font-size: 25px;
}
main .modal__section .m-o > h4{
    text-align: center;
    font-size: 20px;
}
main .modal__section .m-o > #close{
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: red;
    color: #fff;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
}
                                /*!CONTACTO*/

.pagina-contacto{
    background: hsl(313, 35%, 69%);
    background: -webkit-linear-gradient(to right, hsla(213, 49%, 65%, 0.651), hsla(48, 36%, 78%, 0.651), hsla(313, 35%, 69%, 0.651));
    background: linear-gradient(to right, hsla(213, 49%, 65%, 0.651), hsla(48, 36%, 78%, 0.651), hsla(313, 35%, 69%, 0.658)), url(../img/section-1-img.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    .contenedor-contacto{
        @extend %sections;
        padding: 40px 0;

        .enviar-correo{
            h2{
                @include titulos (center, 30px, bold);
                color: nth($colores, 1);
                margin-bottom: 10px;
                text-shadow: 0.1em 0.1em 0.2em white;            
            }

            h3{
                @include titulos (center, 20px, 400);
                margin-bottom: 15px;
                
                span{
                    color: white;
                    background-color: nth($colores, 4);
                    padding: 5px 5px;
                    border-radius: 5px;
                    
                    a{
                        text-decoration: none;
                        color: white;                    
                    }
                }
            }

            #contact-js{
                .container-campos{
                    padding-top: 15px;
                    @include flex (flex, column, center);
                
                    .campos{
                        width: 50%;
                        background-color: hsla(288, 29%, 37%, 0.863);
                        color: white;
                        padding: 10px;
                        border-radius: 5px;
                        margin-bottom: 15px;
                        border: 1px solid white;
                        font-size: nth($font-size, 5);
                        transition: all 0.4s ease;
                        &:hover{
                            box-shadow: 4px 4px 4px rgb(182, 137, 190);
                        }
                        &::placeholder{
                            color: rgb(209, 205, 205);
                        }
                    }
                }

                .container-mensaje{
                    @include flex (flex, column, center);
                
                    h4{
                        margin: 20px 0px 15px;
                        font-size: nth($font-size, 2);
                        font-weight: bold;
                        text-decoration: underline;
                        margin-bottom: 15px;
                        color: nth($colores, 1);                
                    }

                    textarea{
                        width: 50%;
                        background-color: nth($colores, 7);
                        color: white;
                        border: 1px solid white;
                        margin-bottom: 15px;
                        transition: all 0.4s ease;
                        &:hover{
                            box-shadow: 4px 4px 4px rgb(182, 137, 190);
                        }
                        &::placeholder{
                            color: rgb(209, 205, 205);
                        }
                    }

                    input{
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        width: 20%;
                        padding: 15px;
                        border-radius: 5px;
                        background-color: nth($colores, 1);
                        color: white;
                        font-size: nth($font-size, 7);
                        box-shadow: 0.1em 0.1em 0.2em rgb(51, 51, 51);
                        transition: all 0.4s ease;
                        &:hover{
                            background-color: nth($colores, 9);
                            transform: scale(1.1);                    
                        }
                    }
                }
            }
        }

        .iframe{
            margin-top: 50px;
            @include flex (flex, column, center);
            
            h2{
                color: nth($colores, 1);
                font-weight: 800;
                margin-bottom: 20px;            
            }

            iframe{
                filter: brightness(50%);
                border: 3px solid nth($colores, 1);
                box-shadow: 0.1em 0.1em 0.2em rgb(51, 51, 51);
                transition: all 2s ease;
                &:hover{
                    filter: brightness(100%);
                }            
            }
        }
    }
}

                                /*!BLOG*/

.blog{
    @extend %sections;
    padding: 20px 0;

    h2{
        font-size: 35px;
        font-family: 'Playfair Display', serif;
        text-align: center;
        color: nth($colores, 1);
        margin-bottom: 40px;    
    }

    .grid-blog{
        @include grid (grid, repeat(auto-fill, minmax(300px, 1fr)), 20px);
        grid-auto-rows: minmax(200px, auto);
        padding: 20px;
    
        .grid-items{            
            .flex-blog{
                @include flex (flex, column, center);
                justify-content: center;
                box-shadow: 2px 2px 5px black;
                position: relative;
                border-radius: 10px;            
                filter: grayscale(70%);
                &:hover{
                    filter: opacity(1);
                    transform: scale(1.04);                
                }
            
                img{
                    @include img (100%, 200px, cover);
                    position: relative;
                    border-radius: 10px;                
                }

                a{
                    @include titulos (center, 20px, 700);
                    position: absolute;
                    text-decoration: none;
                    bottom: 0;
                    width: 100%;
                    line-height: 20px;
                    color: #fff;
                    background: rgba(0, 0, 0, 0.5);
                    margin-bottom: 12px;                
                }
            }
        }
    }
}

/*-------------------------- LOGIN ----------------------------*/

.main-login{
    background: hsl(313, 35%, 69%);
    background: -webkit-linear-gradient(to right, hsla(213, 49%, 65%, 0.651), hsla(48, 36%, 78%, 0.651), hsla(313, 35%, 69%, 0.651));
    background: linear-gradient(to right, hsla(213, 49%, 65%, 0.651), hsla(48, 36%, 78%, 0.651), hsla(313, 35%, 69%, 0.658)), url(../img/section-1-img.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.main-login section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.main-login section .form-box{
    position: relative;
    height: 450px;
    width: 400px;
    background-color: hsla(288, 29%, 37%, 0.418);
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-login section .form-box .form-values #login_js h2{
    text-align: center;
    font-size: 35px;
    color: #fff;
    font-weight: 700;
    text-shadow: 0.1em 0.1em 0.2em black            
}
.main-login section .form-box .form-values #login_js .container__login{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.main-login section .form-box .form-values #login_js .container__login label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform:  translateY(-50%);
    color: #fff;
    font-size: 15px;
    transition: .5s;
}
.main-login section .form-box .form-values #login_js .container__login input{
    width: 100%;
    height: 50px;
    background-color: hsla(288, 29%, 37%, 0.582);
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 0 35px 0 5px;
    color: #fff;
}
.main-login section .form-box .form-values #login_js .container__login input:hover{
    box-shadow: 5px 5px 4px rgba(190, 179, 192, 0.699);
}
.main-login section .form-box .form-values #login_js .container__login input::placeholder{
    color: rgb(209, 205, 205);
}
.main-login section .form-box .form-values #login_js .container__login ion-icon{
    position: absolute;
    right: 8px;
    color:  #fff;
    font-size: 18px;
    top: 20px;
}
.main-login section .form-box .form-values #login_js .button{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: nth($colores, 7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid white;
    font-size: nth($font-size, 5);
    transition: all 0.4s ease;
    cursor: pointer;
    font-weight: 600;    
}
.main-login section .form-box .form-values #login_js .button:hover{
    background-color: nth($colores, 9);
    transform: scale(1.1);                
}
.main-login section .form-box .form-values #login_js .register{
    padding-top: 30px;
    font-size: 18px;
}

.main-login section .form-box .form-values #login_js #error-login{
    display: none;
    background-color: rgba(53, 52, 52, 0.733);
    margin-bottom: 10px;
    padding: 3px 3px;
    height: 35%;
    width: 100%;
    border-radius: 5px;
}
.main-login section .form-box .form-values #login_js #error-login p{
    padding-top: 5px;
    color: #fff;
}
.main-login section .form-box .form-values #login_js #error-login p span{
    background-color: crimson;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    margin-right: 5px;       
}

/*------------------------- REGISTRO ----------------------------------*/

.main-register{
    background: hsl(313, 35%, 69%);
    background: -webkit-linear-gradient(to right, hsla(213, 49%, 65%, 0.651), hsla(48, 36%, 78%, 0.651), hsla(313, 35%, 69%, 0.651));
    background: linear-gradient(to right, hsla(213, 49%, 65%, 0.651), hsla(48, 36%, 78%, 0.651), hsla(313, 35%, 69%, 0.658)), url(../img/section-1-img.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.main-register section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.main-register section .register-box{
    position: relative;
    height: 650px;
    width: 400px;
    background-color: hsla(288, 29%, 37%, 0.418);
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-register section .register-box .register-values #register_js h2{
    text-align: center;
    font-size: 35px;
    color: #fff;
    font-weight: 700;
    text-shadow: 0.1em 0.1em 0.2em black            
}
.main-register section .register-box .register-values #register_js .container__register{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.main-register section .register-box .register-values #register_js .container__register label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform:  translateY(-50%);
    color: #fff;
    font-size: 15px;
    transition: .5s;
}
.main-register section .register-box .register-values #register_js .container__register input{
    width: 100%;
    height: 50px;
    background-color: hsla(288, 29%, 37%, 0.582);
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 0 35px 0 5px;
    color: #fff;
}
.main-register section .register-box .register-values #register_js .container__register input:hover{
    box-shadow: 5px 5px 4px rgba(190, 179, 192, 0.699);
}
.main-register section .register-box .register-values #register_js .container__register input::placeholder{
    color: rgb(209, 205, 205);
}
.main-register section .register-box .register-values #register_js .container__register ion-icon{
    position: absolute;
    right: 8px;
    color:  #fff;
    font-size: 18px;
    top: 20px;
}
.main-register section .register-box .register-values #register_js .boton-reg{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: nth($colores, 7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid white;
    font-size: nth($font-size, 5);
    transition: all 0.4s ease;
    cursor: pointer;
    font-weight: 600;    
}
.main-register section .register-box .register-values #register_js .boton-reg:hover{
    background-color: nth($colores, 9);
    transform: scale(1.1);                
}
.main-register section .register-box .register-values #register_js .option-login{
    padding-top: 30px;
}
.main-register section .register-box .register-values #register_js #error-mail-reg{
    display: none;
    background-color: rgba(53, 52, 52, 0.733);
    margin-bottom: 10px;
    padding: 3px 3px;
    height: 35%;
    width: 100%;
    border-radius: 5px;

}
.main-register section .register-box .register-values #register_js #error-mail-reg p{
    padding-top: 5px;
    color: #fff;
}
.main-register section .register-box .register-values #register_js #error-mail-reg p span{
    background-color: crimson;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    margin-right: 5px;       
}
.main-register section .register-box .register-values #register_js .option-login{
    font-size: 18px;
}

/*----------------------MOSTRAR TURNO ---------------------------*/

.main-mt{
    background: hsl(313, 35%, 69%);
    background: -webkit-linear-gradient(to right, hsla(213, 49%, 65%, 0.651), hsla(48, 36%, 78%, 0.651), hsla(313, 35%, 69%, 0.651));
    background: linear-gradient(to right, hsla(213, 49%, 65%, 0.651), hsla(48, 36%, 78%, 0.651), hsla(313, 35%, 69%, 0.658)), url(../img/section-1-img.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}










                    

                    
                        
                        
                        










/*-------------------------- DARK MODE ----------------------------*/
.dark-mode{
    background: hsla(0, 0%, 0%, 0.801);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(0, 0%, 0%, 0.801), hsla(0, 0%, 0%, 0.801));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.801), hsla(0, 0%, 0%, 0.801)), url(../img/section-1-img.webp); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}







